<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>导航页面</title>
</head>
<body>
<ul>
    <li>
        <a th:href="@{~/basic(username='this is parameter username')}">标准表达式语法</a>
    </li>
    <li>
        <a th:href="@{~/attr}">设置属性值</a>
    </li>
    <li>
        <a th:href="@{~/frag}">模板布局</a>
    </li>
    <li>
        <a th:href="@{~/each}">遍历</a>
    </li>
</ul>
</body>
</html>
